header {
	background: #BBBBBB;
	padding: 20px 0;
}

.box {
	position: relative;
	width: 940px;
	margin: 0 auto;
	
}

nav	{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.products {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.products li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.products li:hover {
	border-color: #C78C19;
}

.products li:active {
	border-color: #088C19;
}

.products li:hover h2 {
	font-size: 40px;
}

.products h2 {
	font-size: 30px;
	font-weight: bold;
}

.product-description {
	font-size: 18px;
}

.product-price {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;
}

footer {
	background: url("../imagens/bg.jpg");
	padding: 40px 0;
	text-align: center;
}

.copyrigth {
	color: #FFFFFF;
	font-size: 14px;
	margin-top: 20px;
}
